body {
  background-image: url("Blog_Judul-Blog-62.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav a {
  display: block;
  float: right;
  font-family: sans-serif;
  font-size: 25px;
  color: rgba(236, 233, 233, 0.986);
  background-color: rgba(160, 42, 42, 0.986);
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

div.container4 {
  height: 10em;
  position: relative;
}
div.container4 h1 {
  color: rgba(160, 42, 42, 0.986);
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

div.container4 h3 {
  color: rgba(160, 42, 42, 0.986);
  font-weight: bolder;
  margin: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.myButton {
  background-color: rgba(160, 42, 42, 0.986);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 33px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  position: absolute;
  top: 200px;
  left: 550px;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.context-dark,
.bg-gray-dark,
.bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
  background-color: rgba(160, 42, 42, 0.986);
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  background-color: rgba(153, 11, 11, 0.986);
  color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: 0.22s ease;
}
